.card {
    background-color: #202020 !important;
    color: #fff !important;
    border: 2px solid #f80 !important;
    font-family: 'Racing Sans One', sans-serif !important;
    margin-bottom: 20px !important;
}

.card-header {
    background-color: #333 !important;
    color: #fff !important;
    font-size: 25px;
    padding: 10px !important;
    border-bottom: 2px solid #f80 !important;
    text-decoration: none !important;
}

.card-header:hover {
    background-color: #444 !important;
}

.list-group-item {
    background-color: #444 !important;
    color: #fff !important;
    border-bottom: 1px solid #f80 !important;
}

.list-group-item:last-child {
    border-bottom: none !important;
}

.overflow-auto {
    overflow: auto !important;
}

.overflow-auto::-webkit-scrollbar {
    width: 10px !important;
}

.overflow-auto::-webkit-scrollbar-track {
    background: #333 !important;
    border-radius: 10px !important;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: #f80 !important;
    border-radius: 10px !important;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #e70 !important;
}

.overflow-auto {
    scrollbar-width: thin !important;
    scrollbar-color: #f80 #333 !important;
}
