
.buttonShop {
    margin-bottom: 30px;
  
    background-color: #f80; 
    color: #202020; 
    border: none; 
    font-size: 20px; 
    padding: 15px 60px; 
    border-radius: 20px; 
    font-family: 'Racing Sans One', sans-serif; 
    cursor: pointer; 
}
