

.grades-container {
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 200px;
    border: solid;
    
    color: #fff; 
    font-family: 'Racing Sans One', sans-serif; 
    border-color: #f80; 
    
}

.course {
    text-align: center;
    place-items: center;
    color: #FFD700; 
}

#senior-design,
#ui,
#computer-graphics {
    float: left;
    width: 33.33%;
    height: 100px;
     
    border-radius: 5px; 
}

.car-stats-container {
    position: fixed;
    bottom: 40px; 
    right: 20px; 
    background-color: #202020;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    color: #fff; 
    font-family: 'Racing Sans One', sans-serif; 
    border: 3px solid #f80; 
    width: 400px; 
    height: 300px; 
    font-size: 1.5em; 
}
.car-image-center {
    position: fixed; 
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Adjust z-index as needed */
}

.car-image-center img {
    max-width: 100%; 
    height: 600px;
    
}

.car-stats-container .star {
    font-size: 1.5em;
    color: #FFD700; 
}

.car-stats-container .star-inactive {
    font-size: 1.5em; 
    color: grey;
}

.car-stats-container p {
    margin: 1px 0; 
    font-size: 1.2em; 
}

.assignments-container {
    position: fixed;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 200px;
    border-top: solid;
    border-bottom: solid;
    background-color: #202020; 
    color: #fff; 
    font-family: 'Racing Sans One', sans-serif;
    border-color: #f80; 
}

.shop-container {
    position: fixed;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 200px;
    border-top: solid;
    border-bottom: solid;

    background-color: #202020;
    color: #fff; 
    font-family: 'Racing Sans One', sans-serif; 
    border-color: #f80; 
}

}

.car-container {
    position: fixed;
    left: 25%;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 540px;
}

.car-image {
    position: absolute;
    bottom: -150px;
    left: 200px;
    width: 700px; 
    height: auto;
  }

.race-button{
    left: 100%;
}

.car-container {
    position: fixed;
    left: 25%;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 540px;
}


  
  .card-header:hover {
    background-color: #444;
  }
  
  .list-group-item {
    background-color: #444;
    color: #fff; 
    border-bottom: 1px solid #f80; 
  }
  
  .list-group-item:last-child {
    border-bottom: none;
  }
  
  .overflow-auto {
    overflow: auto; 
  }

.overflow-auto::-webkit-scrollbar {
    width: 10px; 
}

.overflow-auto::-webkit-scrollbar-track {
    background: #333; 
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: #f80; 
    border-radius: 10px;
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: #e70; 
}


.overflow-auto {
    scrollbar-width: thin; 
    scrollbar-color: #f80 #333; 
}
