body {
  margin: 0;
  padding: 0;
}

.race-container{
  background-color: #222;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
}

.race-track {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Fills the height of the viewport */
  background-color: transparent;
  overflow: hidden;
}

@keyframes driveHorizontal {
  0% {
    left: 200px;
  }
  100% {
    left: calc(100% - 50px); /* 100% minus car width */
  }
}

.player-car {
  position: absolute;
  bottom: 50px;
  left: 200px;
  width: 200px; /* Adjust the car's width as needed */
  height: auto;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.player-car.racing {
  animation-name: driveHorizontal;
}

.opponent-car1 {
  position: absolute;
  left: 200px;
  bottom: 250px;
  width: 200px; /* Adjust the car's width as needed */
  height: auto;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.opponent-car2 {
  position: absolute;
  left: 200px;
  bottom: 450px;
  width: 200px; /* Adjust the car's width as needed */
  height: auto;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.opponent-car1.racing {
  animation-name: driveHorizontal;
}

.opponent-car2.racing {
  animation-name: driveHorizontal;
}

.turnButton {
 

  background-color: #f80; /* Orange background to match Shop style */
  color: #202020; /* Dark text color */
  border: none; /* No border for the button */
  font-size: 15px; /* Font size */
  padding: 5px 10px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  font-family: 'Racing Sans One', sans-serif; /* Consistent font style */
  cursor: pointer; /* Cursor changes to pointer on hover */
}

button {
  
  margin-bottom: 30px;
  
  background-color: #f80; /* Orange background to match Shop style */
  color: #202020; /* Dark text color */
  border: none; /* No border for the button */
  font-size: 20px; /* Font size */
  padding: 15px 60px; /* Padding around the text */
  border-radius: 30px; /* Rounded corners */
  font-family: 'Racing Sans One', sans-serif; /* Consistent font style */
  cursor: pointer; /* Cursor changes to pointer on hover */
}

.buttonRace {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #f80; /* Orange background */
  color: #202020; /* Dark text color */
  border: 3px solid #333; /* Dark border */
  font-size: 40px;
  padding: 15px 150px;
  border-radius: 20px; /* More rounded corners */
  font-family: 'Racing Sans One', sans-serif;
  cursor: pointer;
  margin-bottom: 40px;
  margin-left: -10px;
}


.level-buttons {
  position: relative;
  text-align: center;
  background-color: gray;
  width: 50px;
  z-index: 10;
}

.video-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  overflow: hidden;
}

.video-background video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #333;
  text-align: center;
}

